jdbc.driverClassName=org.postgresql.Driver
jdbc.url=jdbc:postgresql://localhost:5432/mc_test
jdbc.username=admin
jdbc.password=password

hibernate.mappingLocations=classpath:conf/hibernateMappingFiles/*.hbm.xml
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql=true
hibernate.jdbc.batch_size=50
